# 1. להתעלם מהכל כברירת מחדל
*

# 2. חובה: אל תתעלם מתיקיות, כדי שגיט יוכל לסרוק בתוכן
!*/
!**/
venv/

!*.ini
!.gitignore
# 3. רשימת קבצי הקוד שמותר לעקוב אחריהם
!*.c
!*.h
!*.cpp
!*.hpp
!*.py
!*.ino

# 4. חובה לפרויקט: קבצי קונפיגורציה, הגדרות ותיעוד
!platformio.ini
!*.txt
!*.json
!*.md
!*.csv
!CMakeLists.txt
!*.png
!*.jpg
!*.mp3

# 5. החרגה מיוחדת: התיקיות שפלטפורמיו וה-AI מייצרים שבכל זאת נרצה לחסום
.pio/
.vscode/
@*